{% extends "base.html" %}

{% block titulo%} Empleados {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">Listar Empleados</div>
    <div class="card-body">
        <h4 class="card-title">Empleados </h4>
        

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Nombre Empleado</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>svelasquezs</td>
                        <td>marcos1234</td>
                        <td>Marcos Velásquez Senmache</td>
                        <td>Asesor</td>
                        <td>marcosvelasquez@gmail.com</td>
                        <td>949480601</td>
                        <td>Editar | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">Footer</div>
</div>


{% endblock %}