{% extends "base.html" %}

{% block titulo%} Usuarios {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">Listar usuarios</div>
    <div class="card-body">
        <h4 class="card-title">Usuarios </h4>
        

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Clase de Licencia</th>
                        <th scope="col">Categoría de Licencia</th>
                        <th scope="col">Número de Licencia</th>
                        <th scope="col">Fecha de exp. Licencia</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>Lucca</td>
                        <td>Saldana Velásquez</td>
                        <td>84125412</td>
                        <td>luccasaldana@gmail.com</td>
                        <td>lucca12345</td>
                        <td>949480551</td>
                        <td>29/12/1990</td>
                        <td>Unión 123</td>
                        <td>A</td>
                        <td>I</td>
                        <td>12345678</td>
                        <td>01/01/2027</td>
                        <td>Editar | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">Footer</div>
</div>


{% endblock %}