{% extends "base.html" %}

{% block titulo%} Empleados {% endblock %}

{% block contenido%} 

<div class="card">
    <div class="card-header">

        <a
        name=""
        id=""
        class="btn btn-success"
        href="{% url 'crear_empleado'%}"
        role="button"
        >Agregar nuevo empleado</a
    >
    </div>

    <div class="card-body">
        <h4 class="card-title">Empleados </h4>
        

        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Nombres y Apellidos</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr class="">
                        <td scope="row">{{ empleado.id }}</td>
                        <td>{{ empleado.User }}</td>
                        <td>{{ empleado.Contrasena }}</td>
                        <td>{{ empleado.NombresApellidos }}</td>
                        <td>{{ empleado.Cargo }}</td>
                        <td>{{ empleado.Email }}</td>
                        <td>{{ empleado.Telefono }}</td>
                        <td> <a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="{% url 'editar_empleado' empleado.id %}"
                            role="button"
                            >Editar</a>

                            |

                            <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="{% url 'eliminar_empleado' empleado.id %}"
                            role="button"
                            >Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
</div>
{% endblock %}